body {
  background-image: url(https://donnalynyates.files.wordpress.com/2013/06/geodes.jpg);
  background-color: #cccccc;
  height: 1000px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  color: aliceblue;
}

.row {
  background-color: black;
  width: 400px;
}

#screen {
  overflow: auto;
}

#screen div {
  float: left;
}

#random-area {
  background-color: black;
  width: 150px;
  height: 150px;
  color: aliceblue;
  text-align: center;
  font-size: 65px;
  margin-bottom: 10px;
  margin-right: 10px;
}

#win-area {
  background-color: black;
  height: 100px;
  width: 150px;
  padding: 4px;
  margin-bottom: 10px;
}

.crystals-button {
  display: inline;
}

.crystal-img {
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-color: black;
  border: solid;
}

#score-number {
  background-color: black;
  width: 200px;
  height: 150px;
  color: aliceblue;
  font-size: 65px;
}

h4 {
  background-color: black;
  width: fit-content;
}
